@font-face {
    font-family: Made saonara;
    src: url("../../fonts/MADE\ SAONARA/MADE SAONARA PERSONAL USE.woff") format("woff");
}

@font-face {
    font-family: Garamond;
    src: url('../../fonts/Garamond/garamond.woff')  format('woff');
}

@font-face {
    font-family: Garamond;
    font-weight: bold;
    src: url('../../fonts/Garamond/garamond_bold.woff')  format('woff');
}

@font-face {
    font-family: Garamond;
    font-style: italic;
    src: url('../../fonts/Garamond/garamond_italic.woff')  format('woff');
}

@font-face {
    font-family: Geometria;
    src: url('../../fonts/Geometria/geometria_medium.woff')  format('woff');
}

@font-face {
    font-family: Denistina;
    src: url('../../fonts/Denistina/Denistina.woff')  format('woff');
}

@font-face {
    font-family: Montseratt;
    src: url('../../fonts/Montseratt/Montseratt.woff')  format('woff');
}